body{
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 12px;
    overflow-y: scroll;
}


.signin-btn:hover , .logout-btn:hover{
    background-color: rgb(226, 223, 223);
}