.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.icon {
    color: rgb(241, 101, 31);
    font-size: 35px;
    font-family: 'Martel', serif;
    padding: 7px;
}