.cart-show-page{
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    // border: 1px solid red;
}
.clrfix:after{
    content: "";
    display: block;
    clear: both;
}
.cart-col{
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.payment{
    width: 32%;
    // border: 1px solid green;
}
.content{
    width: 68%;
    // border: 1px solid blue;
}


.payment-box{
    // border: 1px solid purple;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    color: rgb(42, 43, 43);
    height: 300px;
    img{
        width: 32px;
        height: 32px;
        // display: inline-block;
    }
    h1{
        padding-bottom: 20px;
    }
}
.no-payment{
    display: none;
}
/////////////////
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(25, 26, 26);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/////////////
.checkout-btn{
    background:rgb(34,35,35);
    color: white;
    text-align: center;
    border-radius: 300px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 14px;
    transition: all .005s ease-in-out;
}
.checkout-btn:hover{
    background: rgb(44, 45, 45);
    transform: scale(1.028);
    opacity: 1;
    backface-visibility: hidden;
}
.total{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}
//////
.cart-title-msg{
    // border: 2px solid green;
    text-align: left;
    font-family: "Martel", serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    width: 300px;
    height: 40px;
    letter-spacing: 0.5px;
    color: rgb(66, 67, 67);
    box-sizing: border-box;
    white-space: nowrap;
    margin-bottom: 20px;
}
.item-container img{
    width: 142px;
    height: 113px;
    border-radius: 3px;
    // display: inline-block;
}
// .item-container{
//     border: 3px solid red;
// }
.clrfx:after{
    content: "";
    display: block;
    clear: both;
}
// .items-li{
//     border: 2px solid blue;
// }
.item-col{
    // border: 2px solid red;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    line-height: 28px;
}
.photo{
    // border: 1px solid red;
    width: 20%;
}
.title{
    // border: 1px solid red;
    width: 60%;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(42, 43, 43);
    p{
        font-weight: 400;
        line-height: 24px;
    }
}
.price{
    // border: 1px solid red;
    width: 20%;
    color: rgb(41, 41, 41);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
}
.remove-btn{
    width: 80px;
    height: 36px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: rgb(46, 46, 46);
    border-radius: 300px;
    margin-top: 10px;
}
.remove-btn:hover{
    background:rgb(213, 213, 213);
}