.signin-btn,.logout-btn{
    width: 70px;
    height: 35px;
}
.header-name {
    font-size: 14px;
}
.header-greeting {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}