.signin-btn,.logout-btn{
    width: 70px;
    height: 35px;
    font-size: 15px;
}
.header-name {
    font-size: 15px;
    white-space: nowrap;
}
.header-greeting {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}