.celebrate-title {
    border: none;
    background: rgb(221,235,227);
    text-align: center;
    font-size: 26px;
    padding-top: 20px;
    color: rgb(68, 67, 67);
    font-family: 'Martel', serif;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.celebrate-subtitle{
    border: none;
    background: rgb(221,235,227);
    text-align: center;
    font-size: 18px;
    padding-top: 12px;
    color: rgb(34,35,35);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.celebrate-images{
    padding-top: 12px;
    padding-bottom: 13px;
    border: none;
    background: rgb(221,235,227);
}
.celebrate-images > ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.celebrate-images > ul > li{
    text-align: center;
    line-height: 40px;
    color: rgb(34,35,35);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;

}
.round-images{
    width: 140px;
    height: 140px;
    border-radius: 50%;

}
.recently-viewed{
    width: 90%;
    margin: 0 auto;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    // border: 1px solid red;
    box-sizing: border-box;
}
.recently-viewed > ul{
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    box-sizing: border-box;
}
.recently-viewed img:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
.recently-viewed img{
    // border: 2px solid green;
    width: 200px;
    height: 177px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
}
.recently-viewed li{
    // border: 1px solid black;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: fill;
}
.hand-picked{
    // border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 32px;
    padding-bottom: 18px;
}
.hand-picked > h1{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgb(24, 24, 24);
    padding-bottom: 18px;
}
// .hand-picked-nav{
//     // border: 1px solid blue;
    
// }
.hand-picked-nav > ul{
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
}
.hand-picked-nav li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(52, 52, 52);
    // border: 1px solid green;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: none;
    border-bottom: 2px solid rgb(186, 186, 186);
}
.hand-picked-nav li:hover{
    border-bottom: 2px solid rgb(82, 81, 81);
    transition: all .005s ease-in-out;
}
.hand-picked-images{
    // border: 1px solid green;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    box-sizing: border-box;
    padding-top: 25px;
}
.hand-picked-images > ul {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    // border: 3px solid black ;
}
.large-pics-selected{
    // border: 1px solid blue;
    box-sizing: border-box;
    
}
.large-pics-selected img{
    width: 400px;
    height: 328px;
    box-sizing: border-box;
    margin-bottom: 8px;
}
.vertical-selected{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.vertical-selected img{
    width: 198px;
    height: 158px;
    box-sizing: border-box;
    margin-bottom: 8px;
}
.hand-picked-images img:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.vertical-selected li{
    padding-bottom: 30px;
    box-sizing: border-box;
}



////////////////////////////
.what-is-uniqsy{
    // border: 1px solid red;
    background: rgb(253,235,210);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
}
.what-is-uniqsy > h2{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Martel', serif;
}
.what-is-uniqsy > p{
    text-decoration: underline;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(63, 63, 63);
}
.coll-container{
    // border: 1px solid purple;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.coll{
    // border: 1px solid red;
    float: left;
    box-sizing: border-box;
    margin: 10px;
}
.coll-1-3{
    width: 31%;
}
.coll-container div:first-of-type{
    margin-left: 23px;
}
.coll h3{
    word-wrap: break-word;
    font-family: 'Martel', serif;
    font-size: 26px;
    padding-top: 15px;
    color: rgb(68, 67, 67);
    font-weight:lighter;
    letter-spacing: 0.5px;
    line-height: 35px;
}
.coll-container p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:normal;
    font-size: 16px;
    line-height: 28px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(68, 67, 67);
}
.question-section{
    // border: 1px solid green;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 30px;
    a{
        padding: 10px;
        margin: 5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        color: rgb(34, 34, 34);
        text-decoration: underline;
    }
    a:hover{
        color: rgb(108, 106, 106);
    }
}
.question-section > h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
    padding-bottom: 13px;
}

.blue-circle-png{
    width: 150px;
    height: 150px;
    border: none;
    position:absolute;
    bottom: 0px;
    left: 0px;
    // border: 1px solid black;
}
////////////////////////////////
