.reviews{
    border: 1px solid green;
    margin-top: 30px;
}
.reviews-header{
    border: 1px solid blue;
    box-sizing: border-box;
    color: rgb(34,34,34);
    display: flex;
    font-family: 'Martel', serif;
    font-size: 16px;
    h3{
        margin-right: 10px;
    }
}
.review-item{
    border: 1px solid red; 
    margin-top: 10px;
}
.review-title{
    color: rgb(89,89,89);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    padding: 5px;
    a{
        text-decoration: underline;
        margin-right: 10px;
    }
}
.review-body{
    box-sizing: border-box;
    color: rgb(34,34,34);
    font-family: 'Martel', serif;
    font-size: 15px;
    padding-left: 48px;
}
.review-link{
    // border: 2px solid red;
    color: rgb(52, 51, 51);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 25px;
    box-sizing: border-box;
    
    .review-L{
        // border: 1px solid black;
        padding: 9px;
        border-radius: 200px;
        box-sizing: border-box;
    }
}
.review-L:hover{
    background: rgb(216, 215, 215);
}
.review-form{
    border: 1px solid red;
    text-align: center;
}
.review-F{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    text-align: left;
    margin-left: 210px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    input{
       margin-top: 15px;
       margin-bottom: 15px; 
       border: 1px solid rgb(75, 75, 75);
       border-radius: 2px;
       width: 40px;
    }
    textarea{
        border: 1px solid rgb(75, 75, 75);
        border-radius: 2px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 400px;
        height: 100px;
        box-shadow: rgb(179, 179, 179);
    }
}
.form-div{
    border: 1px solid green;
    
}
.option-btns{
    display: flex;
    justify-content: space-around;
}