.login-form-box{
    border: 1px solid red;
    height: 95%;
    margin: 20px;
    line-height: 32px;
}
.login-form-container{
    border: 1px solid yellow;
    margin-top: 30px;
    height: 90%;
}
.login-form-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
//login_form_container
.register-btn{
    width: 80px;
    height: 35px;
    border: 2px solid black;
}
.register-btn:hover{
    border: 3px solid black;
    width: 81px;
}
/////////////////////
.login-form-header h2{
    font-size: 20px;
}
.login-form-box h3{
    font-size: 15px;
}
.login-form{
    border: 1px solid green;
    height: 70%;
    line-height: 32px;
}
.login-form label{
    display: inline-block;
    font-weight: normal;
    border: 1px solid gold;
    // float: left;
    // clear: left;
    width: 100%;
    // text-align: left;
}
.login-form input{
    display: inline-block;
    border: 1px solid rgb(222,222,222);
    width: 100%;
    border-radius: 5px;
    // 
    // float: left;
}
.login-input:hover {
    border: 1px solid rgb(174, 167, 167);
}
.login-input:focus{
    outline: none;
    border: 1px solid black;
    // box-shadow: 0 0 10px rgb(157, 153, 153);
}
.session-submit{
    background: black;
    color: whitesmoke;
    text-align: center;
    border-radius: 300px;
    width: 100%;
    height: 50px;
}