.signup-form-container{
    // border: 1px solid rgb(255, 0, 234);
    margin-top: 30px;
    height: 83%;
}
.login-form-container{
    padding-top: 65px;
    margin-top: 30px;
    height: 83%;
}
.login-form-box{
    // border: 1px solid red;
    height: 95%;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 32px;
}
.login-form-header{
    // border: 1px solid olive;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
//login_form_container.jsx
.register-btn{
    width: 80px;
    height: 35px;
    border: 2px solid rgb(12, 12, 12);
    transition: all .005s;
}
.register-btn:hover{
    border: 2.5px solid rgb(12, 12, 12);
    box-shadow: 0 0 10px rgb(189, 185, 185);
    transform: scale(1.028);
    opacity: 1;
    backface-visibility: hidden;
}
/////////////////////
.login-form-header h2{
    font-size: 20px;
}
.login-form-box h3{
    font-size: 15px;
}
.login-form{
    // border: 1px solid green;
    height: 70%;
    line-height: 32px;
}
.login-form label{
    display: inline-block;
    font-weight: normal;
    // border: 1px solid gold;
    width: 100%;
}
.login-form input{
    display: inline-block;
    border: 1px solid rgb(222,222,222);
    width: 100%;
    border-radius: 5px;
}
.login-input:hover {
    border: 1px solid rgb(174, 167, 167);
}
.login-input:focus{
    outline: none;
    border: 1px solid black;
    // box-shadow: 0 0 10px rgb(157, 153, 153);
}
.session-submit{
    background:rgb(34,35,35);
    color: white;
    text-align: center;
    border-radius: 300px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 14px;
    transition: all .005s ease-in-out;
}
.guest-submit{
    background: white;
    color: rgb(14, 11, 11);
    text-align: center;
    border-radius: 300px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 2px solid rgb(12, 12, 12);
    font-size: 14px;
    font-weight: bold;
    transition: all .005s ease-in-out;
}
.session-submit:hover{
    background: rgb(44, 45, 45);
    transform: scale(1.028);
    opacity: 1;
    backface-visibility: hidden;
}
.guest-submit:hover{
    border: 2.5px solid rgb(12, 12, 12);
    transform: scale(1.028);
    opacity: 1;
    backface-visibility: hidden;
}
.login-form span{
    // border: 1px solid yellowgreen;
    width: 80%;
    display: block;
    font-size: 14px;
    color: rgb(94, 90, 90);
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
}
.errors{
    color: rgb(213, 119, 119);
}